<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-12 row">
                <div class="blog-post-area"></div>
                <h2 class="title text-center">Kontak Kami</h2>
                <address style="padding-left: 10px; padding-right: 10px;">
                    <p><%= nama_toko %></p>
                    <p>Alamat: <%= alamat_toko %></p>
                    <p>HP/WA: <%= no_wa %></p>
                </address>
            </div>
        </div></div></section>
